@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes move-horizontal {
  from {
    left: 1rem;
  }
  to {
    left: calc(100% - 3rem) ;
  }
}

.animate-move-horizontal {
  position: absolute;
  animation-name: move-horizontal;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  opacity: 1;
}

@keyframes popUp {
  0% {
    transform: scale(0.9) translateY(2rem);
    opacity: 0
  }
  100% {
    transform: scale(1) translateY(0rem);
    opacity: 1
  }
}
