@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes move-horizontal {
  from {
    left: 0;
  }
  to {
    left: calc(100% - 2rem);
  }
}

.animate-move-horizontal {
  position: absolute;
  animation-name: move-horizontal;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  opacity: 1;
}